In [2]:
import kmeans as km
import numpy as np
import pandas as pd

In [3]:
dataset = km.loadCSV('data.csv')
k = 3
df = pd.DataFrame(dataset)
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
count,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,...,9999.000000,9999.000000,9999.000000,9999.000000,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0
mean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.179318,0.163616,0.052605,0.000600,0.0,0.0,0.0,0.0,0.0,0.0
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.674433,5.736359,2.420125,0.060003,0.0,0.0,0.0,0.0,0.0,0.0
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
25%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
50%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
75%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
max,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,253.000000,253.000000,156.000000,6.000000,0.0,0.0,0.0,0.0,0.0,0.0

# Q1

In [17]:
clustering_euclidian = km.kmeans(dataset,k,dist_type='euclidian')
print('Euclidian: ', clustering_euclidian['withinss'])
clustering_cosine = km.kmeans(dataset,k,dist_type='cosine')
print('Cosine: ', clustering_cosine['withinss'])
clustering_jaccard = km.kmeans(dataset,k,dist_type='jaccard')
print('Jaccard: ', clustering_jaccard['withinss'])

Euclidian:  30392498446.667324
Cosine:  3103.3100775774687
Jaccard:  9999.0

 # So, cosine distance is better than other two.

# Q2

In [24]:
def accuracy(cluster):
    label_accuracy = list()
    for cluster in cluster['clusters']:
        labels = dict()
        for item in cluster:
            labels.setdefault(item[0],0)
            labels[item[0]] += 1
        vals = np.array(list(labels.values()))
        vals.sort()
        if len(vals) == 0:
            label_accuracy.append(0)
        else:
            label_accuracy.append(vals[-1]/sum(vals))
    label_accuracy = np.array(label_accuracy)
    return label_accuracy.mean()

print('Euclidian: ', accuracy(clustering_euclidian))
print('Cosine: ', accuracy(clustering_cosine))
print('Jaccard: ', accuracy(clustering_jaccard))

Euclidian:  1.0
Cosine:  1.0
Jaccard:  0.3333333333333333

# So, Euclidian and Cosine method with perfect accuracy

# Q3

In [25]:
print('Euclidian: ', clustering_euclidian['iterations'])
print('Cosine: ', clustering_cosine['iterations'])
print('Jaccard: ', clustering_jaccard['iterations'])

Euclidian:  30
Cosine:  37
Jaccard:  3

# The Cosine method with more iteration

# Q4

In [26]:
from time import time

def run_condition(condition, dataset,k):

    euclidian_start = time()
    clustering_euclidian = km.kmeans(dataset,k,dist_type='euclidian',condition=condition)
    euclidian_time = time() - euclidian_start

    print("Euclidian \t Time: {} \t Iterations: {}".format(euclidian_time, clustering_euclidian['iterations']))
    
    cosine_start = time()
    clustering_cosine = km.kmeans(dataset,k,dist_type='cosine',condition=condition)
    cosine_time = time() - cosine_start

    print("Cosine \t\t Time: {} \t Iterations: {}".format(cosine_time, clustering_cosine['iterations']))

    jaccard_start = time()
    clustering_jaccard = km.kmeans(dataset,k,dist_type='jaccard',condition=condition)
    jaccard_time = time() - jaccard_start

    print("Jaccard \t Time: {} \t Iterations: {}".format(euclidian_time, clustering_jaccard['iterations']))

In [27]:
run_condition('centroid',dataset,k)

Euclidian 	 Time: 184.95941138267517 	 Iterations: 25
Cosine 		 Time: 197.70241785049438 	 Iterations: 38
Jaccard 	 Time: 184.95941138267517 	 Iterations: 5

In [28]:
run_condition('sse',dataset,k)

Euclidian 	 Time: 275.9043490886688 	 Iterations: 40
Cosine 		 Time: 91.0343132019043 	 Iterations: 18
Jaccard 	 Time: 275.9043490886688 	 Iterations: 2

In [29]:
run_condition('iteration',dataset,k)

Euclidian 	 Time: 720.3595776557922 	 Iterations: 100
Cosine 		 Time: 526.3056793212891 	 Iterations: 100
Jaccard 	 Time: 720.3595776557922 	 Iterations: 100

# Q5

### In summary, comparing with two other methods in iteration, time consumption and Accuracy, Cosine distance calculation shows a good performance